<p>When you create a Team you automatically become the Administrator for the Team. THis gives you the ability to remove others from the team, as well as the ability to delete the entire team. To give someone else admin privileges, visit the edit page for the team.</p>

<%= render 'form' %>