<p> 
  <span class="name"> My status </span>
  <span class="status status-<%=current_user.status%>"> <%= current_user.status %> </span>
  <%= link_to("Edit", edit_user_path(current_user), :class => "update-link") %>
</p>

<div id="users-container">
  <% @users.each do |user| %>
    <p> 
      <%= name_with_status(user.full_name, user.status, user.id) %>
    </p>
  <% end %>
</div>

<script>
setInterval(function(){
  $.get('statuses', function(data){
    for (var obj in data) {
      url = data[obj].id;
      var block = $('a[href$="'+url+'"]').parent("p");
      $("span.status", block).removeClass("status-in status-out").
      addClass("status-"+data[obj]["status"]).html(data[obj]["status"]);
    }
  });
  return false;
  console.log('runs');
}, 5000);
</script>
